@using MvcOnlineAutomationProject.Models.EntityFramework
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>Personel Id</td>
        <td>Personel Adı</td>
        <td>Soyadı</td>
        <td>Resim</td>
        <td>Departman</td>
        <td>Güncelle</td>
        <td>Satışlar</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td><img src="@item.EmployeeImage" height="80" width="100"/></td>
            <td>@item.Departmant.DepartmantName</td>
            <td><a href="/Employee/GetEmployee/@item.EmployeeId" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Departmant/SalesDepartmant/@item.EmployeeId" class="btn btn-default" style="background-color:darkgray">Satışlar</a></td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee/" class="btn btn-default" style="background-color:burlywood">Yeni Personel Ekle</a>

