@using MvcOnlineAutomationProject.Models.EntityFramework
@model List<SalesMovement>
@{
    ViewBag.Title = "DetailSalesMovements";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman=@ViewBag.V</li>
</ol>
<h2>DetailSalesMovements</h2>
<table class="table table-condensed">
    <tr>
        <td>Id</td>
        <td>Adet</td>
        <td>Fiyat</td>
        <td>Toplam Fiyat</td>
        <td>Cari</td>
        <td>Ürün</td>
        <td>Yazdır</td>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalesMovementsId</td>
            <td>@item.Piece</td>
            <td>@item.Price</td>
            <td>@item.TotalPrice</td>
            <td>@item.Current.CurrentName @item.Current.CurrentSurname</td>
            <td>@item.Product.ProductName</td>
            <td><a href="#" class="btn btn-default" style="background-color:crimson">Yazdır</a></td>
        </tr>
    }

</table>


