@using MvcOnlineAutomationProject.Models.EntityFramework
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using(Html.BeginForm("Index","Product",FormMethod.Get))
            {
                <p>
                    Ürün Adı: @Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }

<table class="table table-bordered">
    <tr>
        <td>Ürün Adı</td>
        <td>Marka</td>
        <td>Stok</td>
        <td>Alış Fiyatı</td>
        <td>Satış Fiyatı</td>
        <td>Resim</td>
        <td>Kategori</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr> 
            <td>@item.ProductName</td>
            <td>@item.Brand</td>
            <td>@item.Stock</td>
            <td>@item.BuyPrice</td>
            <td>@item.SellPrice</td>
            <td>@item.ProductImage</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/Product/GetProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
        </tr>
    }


</table>
<a href="/Product/AddProduct/" class="btn btn-danger">Yeni Ürün Ekle</a>

