@model MvcOnlineAutomationProject.Models.EntityFramework.SalesMovement
@{
    ViewBag.Title = "MakeSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>MakeSale</h2>
<br />
<form class="form-group" method="post">

    <label>Cari</label>
    @Html.TextBoxFor(x => x.Currentid, new { @class = "form-control" })
    <br />
    <label>Personel</label>
    @Html.DropDownListFor(x => x.Employeeid, (List<SelectListItem>)ViewBag.V, new { @class = "form-control" })
    <br />
    <label>Ürün</label>
    <input type="text" name="Productid" value="@ViewBag.V1" class="form-control" readonly />
    @*<br />
        @Html.TextBoxFor(x=>x.Date,new { @class="form-control"})*@
    <br />
    <label>Adet</label>
    <input type="number" name="Piece" max="10" min="1" placeholder="Adet Giriniz" id="txt1" class="form-control" onchange="sum();" />
    <br />
    <label>Fiyat</label>
    <input type="text" name="Price" value="@ViewBag.V2" class="form-control" id="txt2" onchange="sum();" />
    <br />
    <label>Toplam Tutar</label>
    <input type="text" name="TotalPrice" value="0" class="form-control" id="txt3" readonly />
    <br />
    <button class="btn btn-default" style="background-color:azure">Ekle</button>
</form>
<br />
<script>
    function sum() {
        var number1 = document.getElementById('txt1').value;
        var number2 = document.getElementById('txt2').value;
        var values = parseInt(number1) * parseInt(number2);
        if (!isNaN(values)) {
            document.getElementById('txt3').value = values;
        }
    }
</script>


