@model MvcOnlineAutomationProject.Models.EntityFramework.Current
@{
    ViewBag.Title = "GetCurrent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateCurrent", "Current", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CurrentId)
        <label>İsim</label>
        <br />
        @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
        <label>Soyisim</label>
        <br />
        @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
        <label>Şehir</label>
        <br />
        @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
        <label>Mail</label>
        @Html.TextBoxFor(x => x.CurrentEmail, new { @class = "form-control" })
        <br />
        <label>Durum</label>
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Güncelle</button>
}

